.DS_Store
**/node_modules/
**/dist/
**/build/
**/managed_components/
**/.venv/
**/.cache/
**/__pycache__/
**/*.pyc
**/.env
**/secrets/
cloud/models/
.private/
.toolchain/
**/sdkconfig
**/sdkconfig.old
*.log
benchmark*.json
*.bin
